<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Login .::. Crowdfunding</title>
</head>
<body>
	<div style="text-align: center">
		<h2>Welcome on the Crowdfunding platform</h2>
		<hr />
		<br>
		<form name="userLogin_form" action="#" th:action="@{/login-user}" method="post">
			<div>
				Username:  <input type="text" id="username" name="username" required>
			</div>
			<div>
				Password:  <input type="password" id="password" name="password" required>
			</div>
			<div>
				<input type="submit" name="btn_login" value="Login">
			</div>
		</form>
		<br>
		<span th:text="${messageLogin}"></span>
		<br>
		<br>
		
			<a th:href="@{/register}">Register</a>
		</div>
</body>
</html>